<div class="signin-container">
    <div class="row">
        <div class="col-12">
            <p class="signin-info">Welcome!</p>
            <p class="signin-header">Sign in with your credentials</p>
        </div>
        <div class="col-12">
            <input class="form-control form-control-lg mt-4 mb-4" type="text" placeholder="Email" autocomplete="off" />
            <input class="form-control form-control-lg mb-5" type="password" placeholder="Password" autocomplete="off" />
            <button type="button" class="btn btn-primary">Sign In</button>
        </div>
        <div class="col-12">
        </div>
        <div class="col-12">
        </div>
        <div class="col-6">
            <!-- <p class="signin-info">Welcome! Already have an Account?</p> -->
            <p class="signin-info">Dont have an Account?</p>
            <p class="signin-header">Sign in with your credentials</p>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-outline-primary">Sign Up</button>
        </div>
    </div>
    <p>
        <span>
            <a routerLink="/signin">Sign in</a>
        </span>
        <span>
            <a routerLink="/signup">Sign Up</a>
        </span>
    </p>
</div>
