<div class="component signin-container">
    <div class="row">
        <div class="col-12">
            <p class="signin-info mb-0">Hey there! Ready to dive in?</p>
            <p class="signin-header mb-0">Just pop in your credentials!</p>
        </div>
        <div class="col-12">
            <input class="form-control form-control-lg mt-4 mb-3" type="text" placeholder="Email" autocomplete="off" />
            <input class="form-control form-control-lg mt-3 mb-3" type="password" placeholder="Password" autocomplete="off" />
            <button type="button" class="btn btn-primary mt-3" (click)="handleSignIn()">Let's Begin!</button>
        </div>
        <div class="col-8">
            <p class="signin-info mt-3 float-end">New around here?</p>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-primary" (click)="goToSignUp()">Let's Do This...</button>
        </div>
    </div>
</div>
