body {
    background-color: #000000;
}

body * {
    user-select: none;
}

body div.app {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s linear;
    overflow: hidden;
}

body div.app.active {
    opacity: 1;
}

body div.app #bg-video {
    position: absolute;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    pointer-events: none;
}

div.app-container {
    position: relative;
    margin: 0 !important;
    padding: 10px !important;
    height: 100%;
}

nav.shell {
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 50px !important;
    height: 66px;
    top: -76px;
    transition: all 0.5s linear;
}

nav.shell.active {
    top: 0;
}

nav.shell .navbar-brand {
    cursor: pointer;
}

nav.shell div.shell-bg {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 66px;
    border-radius: 50px !important;
    background: rgba(255, 255, 255, 0.2);
}

nav.shell img.logo {
    width: 41px;
    transform: translate(-50px, -4px);
    background: radial-gradient(rgba(255, 255, 255, 0.5) 0%, transparent 70%);
}

nav.shell img.logo-bg {
    width: 50px;
    transform: translate(-5px, -2px);
    transition: all 1000s linear;
}

nav.shell img.logo-bg.spin {
    transform: translate(-5px, -2px) rotate(36000deg);
}

nav.shell .navbar-brand {
    display: inline-block;
    margin: 8px 8px !important;
    padding: 0 !important;
    width: 40px !important;
    height: 50px;
    background: radial-gradient(rgba(0, 0, 0, 0.8) 25%, transparent 75%);
}

nav.shell ul.navbar-nav {
    margin: 15px 5px 0 0 !important;
}

nav.shell li.nav-item {
    margin: 0 !important;
    padding: 0 !important;
    background: rgba(95, 65, 230, 0.5);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s linear;
}

nav.shell li.nav-item:hover {
    background: rgba(95, 65, 230, 0.6);
}

nav.shell li.nav-item:active {
    background: rgba(95, 65, 230, 0.6);
}

nav.shell li.nav-item.nav-action {
    position: absolute;
    right: 17px;
    opacity: 0;
    z-index: -1;
}

nav.shell li.nav-item.nav-action.active {
    opacity: 1;
    z-index: auto;
}

nav.shell a.nav-link {
    margin: 0 !important;
    padding: 6px 20px 7px 20px !important;
    color: rgba(255, 255, 255, 0.9);
    background: transparent;
    border-radius: 50px;
}

div.app-content {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    height: calc(100% - 65px);
}

div.component.signin-container {
    position: relative;
    padding: 30px;
    width: 45%;
    height: 75%;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.9);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s linear;
}

div.component.signin-container.active {
    opacity: 1;
}

.signin-info {
    font-size: 15px;
    font-weight: 600;
}

.signin-header {
    font-size: 30px;
    font-weight: 600;
}

div.component.signin-container input[type="text"],
div.component.signin-container input[type="password"] {
    font-size: 24px;
}

div.component.signup-container {
    position: relative;
    padding: 20px 30px;
    width: 45%;
    height: 80%;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.9);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s linear;
}

div.component.signup-container.active {
    opacity: 1;
}

.signup-info {
    font-size: 15px;
    font-weight: 600;
}

.signup-header {
    font-size: 30px;
    font-weight: 600;
}

div.component.signup-container input[type="text"],
div.component.signup-container input[type="password"] {
    font-size: 24px;
}

input[type="text"],
input[type="password"] {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
    border: none;
    border-radius: 50px;
    padding: 0 20px 2px 20px;
    margin: 10px 0;
    width: 100%;
    transition: all 0.3s linear;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="text"]:active,
input[type="password"]:active {
    background: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.9);
    border-color: none;
    box-shadow: none;
    outline: none;
}

button.btn {
    background: rgba(100, 100, 100, 0.6);
    color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
    border: none;
    border-radius: 50px;
    padding-top: 5px;
    margin: 10px 0;
    width: 100%;
    transition: all 0.3s linear;
}


button.btn:hover {
    background: rgba(100, 100, 100, 0.8);
}

button.btn.btn-primary {
    background: rgba(135, 115, 240, 0.5);
    color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
    border: none;
    border-radius: 50px;
    padding-top: 5px;
    margin: 10px 0;
    width: 100%;
    transition: all 0.3s linear;
    font-size: 1.5rem;
}

button.btn.btn-primary:hover {
    background: rgba(135, 115, 240, 0.6);
}